<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head::head">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <div th:replace="admin/fragments/header::header"></div>
  <!-- =============================================== -->
  <!-- Left side column. contains the sidebar -->
  <div th:replace="admin/fragments/sidebar::sidebar"></div>
  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> Quản Lý Sản Phẩm </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="box">
          <div class="box-header with-border center-bold">
            <h2 class="box-title center-bold">Danh sách nhà cung cấp</h2>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="padding-bottom: 10px;">
              <a class="btn btn-success" href="Supplier-add">Thêm nhà cung cấp</a>
            </div>
            <form style="padding-bottom: 10px;">
              <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                <input type="text" name="keyword" class="form-control pull-right" placeholder="Search" th:value="${keyword}">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
            <div class="table-wrapper">
              <table class="table table-bordered table-fixed">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Supplier Code</th>
                  <th>Supplier Name</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier : ${supplierList}">
                  <td th:text="${supplier.id}"></td>
                  <td th:text="${supplier.code}"></td>
                  <td th:text="${supplier.name}"></td>
                  <td th:text="${supplier.address}"></td>
                  <td>
                    <th:block th:if="${supplier.status}">
                      <span class="label label-success">Running</span>
                    </th:block>
                    <th:block th:if="${!supplier.status}">
                      <span class="label label-danger">Stopped</span>
                    </th:block>
                  </td>
                  <td>
                    <a th:href="@{/admin/edit-supplier/{id}(id=${supplier.id})}" class="btn btn-success">
                      <i class="fas fa-wrench"></i>
                    </a>
                    <a th:href="@{/admin/delete-supplier/{id}(id=${supplier.id})}" class="btn btn-danger" onclick="return confirm('Bạn chắc chắn xóa không')">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
            </div>
          <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
<!--            <ul class="pagination pagination-sm no-margin pull-right">-->
<!--              <li th:if="${currentPage > 1}">-->
<!--                <a th:href="@{'?pageNum=' + ${currentPage - 1}}">«</a>-->
<!--              </li>-->
<!--              <li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">-->
<!--                <a th:href="@{${keyword != null && keyword !='' ? '?keyword='+keyword+'&': '?'} + 'pageNum='+${i}}" th:text="${i}"></a>-->
<!--              </li>-->
<!--              <li th:if="${currentPage < totalPage}">-->
<!--                <a th:href="@{'?pageNum=' + ${currentPage + 1}}">»</a>-->
<!--              </li>-->
<!--            </ul>-->
          </div>
        </div>
      </div>
    </section>
  </div>
  <div th:replace="admin/fragments/footer::footer"></div>
</div>
<div th:replace="admin/fragments/script::script"></div>
</body>
</html>
